*, *::before, *::after {
    box-sizing: border-box;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cuadro {
    height: 200px;
    opacity: 0.4;
    transition: opacity 500ms;
}

#cuadro-1 {
    background: red;
    border-radius: 100% 0 0 0;
}

#cuadro-2 {
    background: blue;
    border-radius: 0 100% 0 0;
}

#cuadro-3 {
    background: yellow;
    border-radius: 0 0 0 100%;
}

#cuadro-4 {
    background: green;
    border-radius: 0 0 100% 0;
}